body{
    margin: 0 auto;
}
nav{
    padding: 30px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


span a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-left: 23px;
}
